<div *ngIf="journeys">
  <h2 class="page-header">Journeys Map</h2>
  <div class="panel panel-primary" *ngIf="journeys.length != 0">
      <agm-map [latitude]="latitude" [longitude]="longitude" class="panel-body" [scrollwheel]="true" [zoom]="zoom" style="padding: 0;">
        <agm-marker *ngFor="let m of journeys; let i = index"
        [latitude]="m.location.lat"
        [longitude]="m.location.lng"
        [markerDraggable]="false"
        (markerClick)="clickedMarker(infoWindow)"
        [iconUrl]="setMarkerIcon(m)">
          <agm-info-window class="infoWindow" #infoWindow>
            <div class="m-thumbnail">
              <img *ngIf="m.imageUrl == 'defaultImage.png'" src="http://localhost:3000/uploads/{{m.imageUrl}}" class="img-responsive" width="200px;">
              <img *ngIf="m.imageUrl != 'defaultImage.png' && m.imageUrl.substr(0, 4) != 'http'" src="http://localhost:3000/api/images/{{m.imageUrl}}" class="img-responsive" width="200px;">
              <img *ngIf="m.imageUrl.substr(0, 4) == 'http'" src="{{m.imageUrl}}" class="img-responsive" width="200px;">
            </div>
            <a [routerLink]="['/journeys/'+m._id]"><strong>{{m.title}}</strong></a><br>
            <p>{{m.location.place}}</p>
          </agm-info-window>
        </agm-marker>
      </agm-map>
  </div>
  <div class="col-xs-12" *ngIf="journeys.length === 0">
    <h4 class="text-center">No journeys found.</h4>
    <p class="text-center"><a [routerLink]="['/add-journey']" class="btn btn-warning"><i class="fa fa-plus" style="font-size: 14px!important;"></i> Add Journey</a></p>
  </div>
</div>
<data-loader *ngIf="!journeys"></data-loader>
