/* You can add global styles to this file, and also import other style files */
.navbar {
	border-radius: 0px;
}
agm-map {
  height: 300px;
  padding: 0;
}

/* Stars for ratings */

.star-rating {
  font-family: 'FontAwesome';
}
.star-rating > fieldset {
  border: none;
  display: inline-block;
}
.star-rating > fieldset:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}
.star-rating > fieldset:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .05em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  color: gold;
}
.star-rating > fieldset:not(:checked) > label:before {
  content: '\f006  ';
}
.star-rating > fieldset:not(:checked) > label:hover,
.star-rating > fieldset:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow: 0 0 3px gold;
}
.star-rating > fieldset:not(:checked) > label:hover:before,
.star-rating > fieldset:not(:checked) > label:hover ~ label:before {
  content: '\f005  ';
}
.star-rating > fieldset > input:checked ~ label:before {
  content: '\f005  ';
}
.star-rating > fieldset > label:active {
  position: relative;
  top: 2px;
}
.star-rating-list {
  display: inline;
  padding-left: 0;
	color: gold;
}
.star-rating-list li {
  display: inline-block;
  list-style: none;
}
