<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2 class="page-header">Add Journey</h2>
		<form (submit)="onAddJourneySubmit()" (keydown.enter)="$event.preventDefault()" class="form-wrap">
			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" [(ngModel)]="title" name="title" id="title" class="form-control">
			</div>
			<div class="form-group">
		  	<label for="location">Location</label>
		    <input [(ngModel)]="location" autocorrect="off" autocapitalize="off" spellcheck="off" #search type="text" name="location" class="form-control" id="location">
		  </div>
			<div class="form-group">
				<label for="duration">Duration</label>
				<input type="text" [(ngModel)]="dateLabel" class="form-control" id="duration" required name="duration" daterangepicker [options]="options" (applyDaterangepicker)="selectedDate($event)" (cancelDaterangepicker)="selectedDate($event)" (hideDaterangepicker)="selectedDate($event)" />
				<!-- <input type="text" [(ngModel)]="duration" name="duration" id="duration" class="form-control"> -->
			</div>
			<div class="form-group">
        <label>Type</label>
        <select type="text" name="type" [(ngModel)]="type" class="form-control">
					<option value="none" selected>None</option>
          <option value="Monuments">Monuments</option>
          <option value="Mountain">Mountain</option>
          <option value="Sea">Sea</option>
          <option value="Spa">Spa</option>
        </select>
      </div>
			<div class="form-group">
				<label>Rating</label>
	      <div class="star-rating">
	        <fieldset required>
	          <input type="radio" id="star5" name="rating" [(ngModel)]="rating" value="5" /><label for="star5" title="Outstanding">5 stars</label>
	          <input type="radio" id="star4" name="rating" [(ngModel)]="rating" value="4" /><label for="star4" title="Very Good">4 stars</label>
	          <input type="radio" id="star3" name="rating" [(ngModel)]="rating" value="3" /><label for="star3" title="Good">3 stars</label>
	          <input type="radio" id="star2" name="rating" [(ngModel)]="rating" value="2" /><label for="star2" title="Poor">2 stars</label>
	          <input type="radio" id="star1" name="rating" [(ngModel)]="rating" value="1" /><label for="star1" title="Very Poor">1 star</label>
	        </fieldset>
	      </div>
			</div>
			<!-- <div class="form-group">
			    <label for="imageFile">Image</label>
					<br>
					<input type="file" [(ngModel)]="imageFile" name="imageFile" id="imageFile" class="inputfile" (change)="onChangeImageFile($event)"/>
					<label for="imageFile" class="btn btn-warning"><i class="fa fa-image"></i> <strong>Choose image</strong></label>
					<button *ngIf="imgReader" type="button" class="btn btn-danger" (click)="removeImageFile()">Remove image</button>
			</div>
			<div [hidden]="!imgReader">
          <div *ngIf="imgReader" class="img-wrapper">
            <img class="img-responsive" src="{{imgReader}}">
          </div>
      </div> -->
			<hr>
			<input type="submit" value="Add" class="btn btn-primary btn-block">
		</form>
	</div>
</div>
