<div *ngIf="journeys">
	<div class="row">
		<div class="col-md-12 col-sm-12">
				<h2 class="page-header">My Journeys</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-sm-10">
			<div class="form-group">
				<input type="text" class="form-control" autocomplete="off" placeholder="Search journeys..." [(ngModel)]="search" name="search" (keyup)="searchJourney()">
			</div>
		</div>
		<div class="col-md-2 col-sm-2">
			<div class="form-group">
					<div class="btn-group btn-group-justified">
					  <a (click)="sortBy('rating')" class="btn star btn-warning" title="Sort by rating"><i class="fa fa-star"></i></a>
					  <a (click)="sortBy('type')" class="btn btn-warning" title="Sort by type">Type</a>
					</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="progress" style="height: 10px; box-shadow: none;border: none;">
				<div class="progress-bar progress-bar-success" title="Mountain journeys" [style.width]="typePercent.mountain"></div>
				<div class="progress-bar progress-bar-danger" title="Monuments journeys" [style.width]="typePercent.monuments"></div>
				<div class="progress-bar progress-bar-primary" title="Sea journeys" [style.width]="typePercent.sea"></div>
				<div class="progress-bar progress-bar-warning" title="Spa journeys" [style.width]="typePercent.spa"></div>
				<div class="progress-bar progress-bar-none" title="No type journeys" [style.width]="typePercent.none"></div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
	  <div class="col-sm-6 col-md-4" *ngFor="let journey of journeys | paginate: { itemsPerPage: itemsPerPage, currentPage: p } | orderBy:order:option date ">
	  	<div class="panel">
			<a [routerLink]="[journey._id]">
				<div *ngIf="journey.imageUrl === 'defaultImage.png'" class="panel-heading" [style.background-image]="'url(http://localhost:3000/uploads/' + journey.imageUrl + ')'">
			    <!--<img src="{{journey.imageUrl}}"/>-->
				</div>
				<div *ngIf="journey.imageUrl != 'defaultImage.png'" class="panel-heading" [style.background-image]="'url(http://localhost:3000/api/images/' + journey.imageUrl + ')'">
			    <!--<img src="{{journey.imageUrl}}"/>-->
				</div>
			</a>
			<div class="panel-body custom-title">
				<h3 class="panel-title">{{journey.title}}</h3>
				<div *ngIf="journey.rating === 'Not rated'">
					<ul class="star-rating-list">
						<li><i class="fa fa-star-o"></i></li>
						<li><i class="fa fa-star-o"></i></li>
						<li><i class="fa fa-star-o"></i></li>
						<li><i class="fa fa-star-o"></i></li>
						<li><i class="fa fa-star-o"></i></li>
					</ul>
				</div>
				<ul class="star-rating-list">
						<li *ngFor="let number of starArr(journey.rating)">
							<i class="fa fa-star"></i>
						</li>
						<li *ngFor="let ostars of starArr(maxRating - journey.rating)">
							<i class="fa fa-star-o"></i>
						</li>
				</ul>
			</div>
			<div class="panel-body">
				<p><span className="label label-default {{journey.type}}">{{journey.type}}</span></p>
				<p>{{journey.location.city}}</p>
	      <p>{{journey.duration.dateLabel}}</p>
			</div>
			<div class="panel-footer">
				<a [routerLink]="[journey._id]" class="btn btn-primary btn-block" role="button">More info</a>
			</div>
		</div>
	    <!-- <div class="thumbnail">
	      <img src="http://localhost:3000/{{journey.imageUrl}}">
	      <div class="caption">
	        <h3>{{journey.title}}</h3>
	        <p>{{journey.datetime}}</p>
	        <p><a [routerLink]="[journey._id]" class="btn btn-default btn-block" role="button">Read more</a>
	      </div>
	    </div> -->
	  </div>
		<div class="col-xs-12" *ngIf="journeys.length === 0">
			<h4 class="text-center">No journeys found.</h4>
			<p class="text-center"><a [routerLink]="['/add-journey']" class="btn btn-warning"><i class="fa fa-plus" style="font-size: 14px!important;"></i> Add Journey</a></p>
		</div>
	</div>
	<div *ngIf="journeys.length > itemsPerPage" class="text-center">
		<pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
	</div>
</div>
<data-loader *ngIf="!journeys"></data-loader>
